@media (min-width: 660px) {
  .course__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .course__card img {
    width: 100%;
    min-height: 130px;
    max-width: 280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media (max-width: 659px) {
  .course__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course__card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .course__card .course__details .heading__details {
    text-align: center;
  }
}

.js__scontainer {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.course__card {
  height: 100%;
  width: 100%;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #6deba5;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.course__card .course__details {
  width: 100%;
  padding: 12px 15px;
  font-family: "Roboto Condensed", sans-serif;
  color: #052212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course__card .course__details .heading__details {
  min-height: 130px;
  margin-bottom: 1rem;
}

.course__card .course__details .heading__details h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
}

.course__card .course__details .bottom_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__card .course__details .bottom_content .course__button {
  width: 100px;
  text-align: center;
  cursor: pointer;
  background: #f34d4d;
  padding: 6px 10px;
  border-radius: 30px;
  font-size: 15px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.course__card .course__details .bottom_content .course__button:hover {
  background: #7d0808;
  color: #fff;
}

.course__card .course__details .bottom_content span {
  font-size: 13px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Oswald", sans-serif;
  background: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-top: 10px;
}

.header p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.container {
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  height: 100%;
  padding: 0 10px;
}

.link_wrapper {
  width: 100%;
}

.welcom {
  margin: 1.5rem 0;
  text-align: center;
  width: 100%;
}

.welcom h4 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #3f3f3f;
}

.links {
  border: 1px solid #f34d4d;
  padding: 11px 1.3rem;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  color: #f34d4d;
  background: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.075), 0px 0px 2.9px rgba(0, 0, 0, 0.051);
          box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.075), 0px 0px 2.9px rgba(0, 0, 0, 0.051);
}

.links a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
}

.links:hover {
  background: #f34d4d;
  color: #fff;
}

.links:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-name: shakeMe;
          animation-name: shakeMe;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.links:nth-child(3) {
  background: #f34d4d;
  color: #fff;
}

.links:nth-child(3):hover {
  border: 1px solid #f34d4d;
  background: #fff;
  color: #f34d4d;
}

@-webkit-keyframes shakeMe {
  2%,
  18% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  4%,
  16% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  6%,
  10%,
  14% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  8%,
  12% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  18.1% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
}

@keyframes shakeMe {
  2%,
  18% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  4%,
  16% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  6%,
  10%,
  14% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  8%,
  12% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
  18.1% {
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-bottom: 3rem;
}

.social i {
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social a {
  background: #f34d4d;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.social a + a {
  margin-left: 1.5rem;
}
/*# sourceMappingURL=main.css.map */